/*Common style start
---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');
* {
    padding: 0%;
    margin:0%;
    /* font-size: 60px; */
    scroll-behavior: smooth;
    font-family: 'Cormorant SC', serif;
}

body {
    background-color: #000;
    color: gold;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
.fullHeight {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: clamp(0.9rem, 4vw, 1.3rem);
}
h3 {
    font-size: clamp(1.2rem, 1.5vw, 1.9rem);
}
h4 {
    font-size: clamp(0.3rem, 1.5vw, 1rem);
}
p {
    font-size: clamp(0.7rem, 4vw, 1.3rem);
    margin-bottom: 0;
}
.textColor {
    color: gold;
}
.backgroundColor {
    background-color: #F3771D;
}
.backgroundColor__2 {
    background-color: #F1E3D3;
}

.button {
  font-weight: bold;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  padding: 4px 20px;
  color: gold;
  background-color: #ffffff00;
  letter-spacing: 2px;
  border: 1px solid gold;
  border-radius: 4px;
  box-shadow: 0px 13px 42px -15px #000000bf;
  transition: 0.3s;
  /* font-family: 'Love Light', cursive; */
  text-transform: capitalize;
}
.button:hover {
    color: #ffffff;
    background-color: #d1b308;
    border: 1px solid #d1b308;
    box-shadow: 0px 13px 42px -15px #00000000;
}
.btn-icon {
    width: 25px;
    height: auto;
    margin-left: 10px;
    transition: 0.3s;
}
.button:hover .btn-icon {
    transform: translateX(10px);
}
.bigHeading {
    font-size: clamp(2.1rem, 5vw, 4.8rem);
}
/* .heading {
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
} */
.padding {
    padding: 80px 0px;
}
.link {
    position: relative; 
    font-size: 20px;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F3771D;
    bottom: -15px;
    right: 0%;
    transition: 0.4s;
}
.link:hover::after {
    width: 0%;
  }
.shortBorder {
    width: 60px;
    height: 3px;
    background: #F3771D;
    margin: 20px auto;
}
.lightGrayColor {
    color: #929292;
}
section {
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    position: relative;
    z-index: 2;
}
.section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    top: 0%;
    left: 0%;
    z-index: -1;
}
.sectionHeading {
    text-align: center;
    margin-bottom: 5px;
    font-size: clamp(2.1rem, 5vw, 3.5rem);
    color: gold;
}
/* Common style end
---------------------------*/









/* Hero css start
------------------------------------*/
#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
    overflow: hidden;
  }
.heroText {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
}
.hero {
    /* background-image: url('../images/heroHomeImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center; */
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 20px;
    overflow: hidden;
}
/* .hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    top: 0%;
    left: 0%;
    z-index: -1;
} */





/* About Us section start
------------------------------ */
.about__us {
    background-image: url('../images/aboutUs.jpeg');
    color: white;
}

.about__us::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    top: 0%;
    left: 0%;
    z-index: -1;
}






/* Products section start
------------------------------ */
.product {
    background-image: url('../images/productBackground.jpeg');
}
.product::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    top: 0%;
    left: 0%;
    z-index: -1;
}
.product-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    /* background-color: #fcbb30; */
    /* padding: 20px; */
}
.product-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #151741c0;
    opacity: 0.7;
    transition: 0.4s;
    top: 0%;
    left: 0%;
}
.product-container:hover::after {
    height: 100%;
}

.product-container img {
    height: 350px;
    object-fit: cover;
    transition: 0.3s;
}
.product-text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    padding: 20px 30px;
    color: white;
    z-index: 2;
}
.product-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #0000009c , #ffff0000, #000000d8);
    top: 0%;
    left: 0%;
    z-index: -2;
}
.product-text h4 {
    text-align: center;
    text-shadow: 9px 9px 10px 5px #020202;
    color: gold;
    z-index: 2000;
}
.buttonContainer {
    width: 60%;
    display: blocks;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -20px);
    opacity: 1;
    transition: 0.3s;
}
.buttonContainer a {
    width: 100%;
    text-decoration: none;
    margin-top: 5px;
}
/* .product-text p {
    opacity: 0;
    transition: 0.3s;
    font-size: clamp(2rem, 4vw, 2.3rem);
}
.product-container:hover .product-text p {
    opacity: 1;
} */
.product-container:hover img {
    transform: scale(1.2);
}

.more-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 992px) {
    .hero h1 {
        margin-bottom: -2rem;
    }
    .product-container img {
        height: 280px;
    }
    .lottieAnime {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (max-width: 600px) {
    .hero h1 {
        margin-bottom: 0rem;
    }
    .lottieAnime {
        width: 80px;
        height: 80px;
    }
    .product-container img {
        height: 240px;
        object-fit: cover;
    }
}