/*Common style start
---------------------------*/

* {
    padding: 0%;
    margin:0%;
    /* font-size: 60px; */
    scroll-behavior: smooth;
    font-family: Akhenaton; src: url('https://www.mediafont.com/storage/contents/4408/font.eot'); /* IE */ src: local('Akhenaton'), url('https://www.mediafont.com/storage/contents/4408/AK______.TTF'); /* non-IE */
}
body {
    background-color: #000;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
.fullHeight {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: clamp(2rem, 4vw, 3.6rem);
}
h3 {
    font-size: clamp(1.2rem, 1.5vw, 1.9rem);
}
h4 {
    font-size: 6rem;
}
p {
    font-size: clamp(2rem, 5vw, 2.8rem);
    margin-bottom: 0;
}
.textColor {
    color: #F3771D;
}
.backgroundColor {
    background-color: #F3771D;
}
.backgroundColor__2 {
    background-color: #F1E3D3;
}

.button {
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  margin-top: 10px;
  padding: 4px 20px;
  color: gold;
  background-color: #ffffff00;
  letter-spacing: 2px;
  border: 1px solid gold;
  border-radius: 4px;
  box-shadow: 0px 13px 42px -15px rgba(0,0,0,0.75);
  transition: 0.3s;
  /* font-family: 'Love Light', cursive; */
  text-transform: capitalize;
}
.button:hover {
    color: gold;
    background-color: #f3761d00;
    border: 1px solid gold;
    box-shadow: 0px 13px 42px -15px rgba(0,0,0,0);
}
.btn-icon {
    width: 25px;
    height: auto;
    margin-left: 10px;
    transition: 0.3s;
}
.button:hover .btn-icon {
    transform: translateX(10px);
}
/* .bigHeading {
    font-size: clamp(9rem, 10vw, 8.7rem);
} */
.heading {
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}
.padding {
    padding: 80px 0px;
}
.link {
    position: relative; 
    font-size: 20px;
}

.link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #F3771D;
    bottom: -15px;
    right: 0%;
    transition: 0.4s;
}
.link:hover::after {
    width: 0%;
  }
.shortBorder {
    width: 60px;
    height: 3px;
    background: #F3771D;
    margin: 20px auto;
}
.lightGrayColor {
    color: #929292;
}
section {
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    position: relative;
    z-index: 2;
}
.section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    top: 0%;
    left: 0%;
    z-index: -1;
}
.sectionHeading {
    text-align: center;
    margin-bottom: 5px;
    font-size: clamp(4rem, 8vw, 7rem);
    color: gold;
}
/* Common style end
---------------------------*/









/* Hero css start
------------------------------------*/
#myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
    overflow: hidden;
  }
.heroText {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
}
.hero {
    /* background-image: url('../images/heroHomeImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom center; */
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    overflow: hidden;
}
/* .hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
    top: 0%;
    left: 0%;
    z-index: -1;
} */

    
.hero h1, .hero h4, .hero h3 {
    margin: 0%;
    color: #fff;
}
.hero h1 {
    font-size: clamp(4.5rem, 9vw, 9rem);
    margin-bottom: -3rem;
}
.hero h4 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}
.hero h3 {
    font-size: clamp(1rem, 3vw, 2rem);
}





/* About Us section start
------------------------------ */
.about__us {
    background-image: url('../images/aboutUs.jpeg');
}

.about__us::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    top: 0%;
    left: 0%;
    z-index: -1;
}






/* Products section start
------------------------------ */
.product {
    background-image: url('../images/product-background.png');
}
.about__us::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    top: 0%;
    left: 0%;
    z-index: -1;
}
.product-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    /* background-color: #fcbb30; */
    /* padding: 20px; */
}
.product-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background-color: #151741c0;
    opacity: 0.7;
    transition: 0.4s;
    top: 0%;
    left: 0%;
}
.product-container:hover::after {
    height: 100%;
}

.product-container img {
    height: 350px;
    object-fit: cover;
    transition: 0.3s;
}
.product-text {
    width: 100%;
    position: absolute;
    top: 0%;
    padding: 20px 30px;
    color: white;
    z-index: 2;
}
.product-text::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #0000009c , #ffff0000);
    top: 0%;
    left: 0%;
    z-index: -2;
}
.product-text h4 {
    text-shadow: 9px 9px 10px 5px #020202;
    font-size: clamp(3rem, 5vw, 3.5rem);
    /* font-size: 55px; */
    color: gold;
    z-index: 55;
    z-index: 2000;
}
.product-container button {
    position: fixed;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    transition: 0.3s;
}
.product-text span {
    opacity: 0;
    transition: 0.3s;
    font-size: clamp(2rem, 4vw, 2.3rem);
}
.product-container:hover .product-text span {
    opacity: 1;
}
.product-container:hover img {
    transform: scale(1.2);
}
.more-product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media only screen and (max-width: 992px) {
    .hero h1 {
        margin-bottom: -2rem;
    }
    .product-container img {
        height: 280px;
    }
    .lottieAnime {
        width: 120px;
        height: 120px;
    }
}

@media only screen and (max-width: 600px) {
    .hero h1 {
        margin-bottom: 0rem;
    }
    .lottieAnime {
        width: 80px;
        height: 80px;
    }
    .product-container img {
        height: 240px;
        object-fit: cover;
    }
}