
/*
Header css start
---------------------------*/
header {
    width: 100%;
    clear: both;
}

.header-area {
    width: 100%;
    padding: 13px 80px;
    min-height: 30px;
    display: flex;
    position: relative;
}
#navbar {
    background-color: #000;
    /* background-color: #151741;  */
    /* background-image: linear-gradient(to bottom right, #28F19C, #02A2F9); */
    transition: 0.3s;
}
.logo-container {
    float: left;
}
.logo-container a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.logo {
    width: 60px;
    height: auto;
}

.logo-name {
    color: #ffffff;
    font-size: clamp(1rem, 1.5vw, 2.3rem);
    margin: 0%;
}

.nav-item-container {
    flex: 1;
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-item-container ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-align: right;
}

.nav-item-container ul li {
    display: inline-block;
    margin-left: 30px;
    transition: 0.3s;
    z-index: 5;
}

.nav-item-container ul li a {
    font-size: clamp(0.9rem, 4vw, 1.2rem);
    padding: 15px 15px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #F3771D;
    color: #fff;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 3px;
    transform: scale(1.3);
  }

  .nav-item-container ul li:hover {
    transform: scale(1.3);
  }  
  
 
.nav_button {
    font-weight: 300;
    display: inline-block;
    font-size: 15px;
    margin: 0px 20px;
    padding: 7px 30px;
    border-radius: 50px;
    color: #000;
    background-color: #fff;
    letter-spacing: 1px;
    border: 1px solid #fff;
    box-shadow: 0px 13px 42px -15px rgba(0,0,0,0.75);
    transition: 0.3s;
    font-weight: bold;
  }
  .nav_button:hover {
      color: #fff;
      background-color: #f3761d00;
      border: 1px solid #fff;
      box-shadow: 0px 13px 42px -15px rgba(0,0,0,0);
    }


/*
Header css end
---------------------------*/



/*
side-panel css Start
---------------------------*/
.side-panel  {
    width: 0;
    position: fixed;
    z-index: 3;
    height: 100vh;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #000;
    /* background-color: #151741; */
  }
  .side-panel ul li {
    list-style: none;
    margin-bottom: 15px;
  }
  
  .side-panel ul li a {
    padding: 3px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .side-panel ul li a:hover {
    transform: translateX(-10px);
  }
  
  .side-panel .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .open-btn {
    font-size: 27px;
    cursor: pointer;
    background-color: #11111100;
    color: #fff;
    padding: 10px 15px;
    border: none;
    z-index: 3;
    display: none;
}
    .close-btn {
        font-size: 30px;
        top: 0px;
        left: 20px;
        transition: 0.3s;
    }
    .close-btn:hover {
        left: 25px;
    }
/*
Sidebar css start
---------------------------*/




/*
Responsive design start
---------------------------*/
@media only screen and (max-width: 1400px) {
    .header-area {
        padding: 18px 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .logo-name {
        padding: 0px 20px;
    }
    
    .nav-item-container ul li {
        margin-left: 20px;
    }
    
}

@media only screen and (max-width: 992px) {
    
    .open-btn {
        display: block;
    }
    .header-area {
        padding: 7px 40px;
    }
    .nav-items-ul {
        display: none;
    }
    .logo {
        width: 50px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .padding {
        padding: 10px 0px;
    }
      
  .side-panel a {
    font-size: 16px;
    margin-bottom: 20px;
  }
    .open-btn {
        top: 5px;
        right: 15px;
        font-size: 25px;
    }
    .header-area {
        min-height: 20px;
        padding: 10px 20px;
    }
    .logo-container {
        width: 70%;
    }
    .nav-item-container {
        width: 30%;
    }
    .nav_button {
        margin: 0px 10px;
    }
    .heading {
        margin-bottom: 30px;
    }
    
  }